<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/partials/heade %>
</head>
<body class="container">
    <header>
        <% include ../views/partials/headerwork %>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-4">
                <div class="well">
                    <h3 style="align-content: center">form stuff</h3>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="jumbotron">
                    <%data.forEach( function( data ){ %>
                    <pre>
<p><%= data.type %></p>
<p><%= data.description %></p>
<p><%= data.price %></p>
<% i=Date.now(); %>
<% a = data.created; %> 
<% c = Date.parse(a);%>
<% e= i-c; %>
<%add = Math.round(Math.abs(e/(1000*60*60*24)));%> 
<p> <%= add %> days ago this item was added </p>
<form action="/login" method="post"><input type="text" class="form-control" value='<%= data._id %>' name="todostuff"><%=data._id %>
    <button type="submit" name="stuff" class="btn btn-primary btn-lg" value='<%=data._id %>' formaction="/deleted">Add to Top</button>
</form>
                    </pre> 
                    <% }); %>  
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../views/partials/footer %>
    </footer>
    
</body>
</html>